#shima {
    display: inline-block;
    border-bottom: 5px rgb(176, 206, 171);
    position: relative;
    left: 50%;
    top: 21px;
    width: 170px;
    right: 16px;
}

#p1 {
    display: inline-block;
    position: relative;
    padding: 12px;
    background-color: rgb(234, 231, 231);
    text-align: right;
    color: dimgrey;
    border-radius: 15px;
    width: 300px;
    top: 0px;
    left: 48%;

}

#p2 {
    font-size: 17px;
    color: rgb(102, 104, 104);
    position: relative;
    top: -65px;
    left: 37%;
}

#shop {
    width: 55px;
    position: relative;
    top: -122px;
    left: 27%;

}

#shoop {
    width: 150px;
    position: relative;
    top: -122px;
    left: 10%;

}

#d2 {
    text-align: center;
    display: inline-block;
    position: relative;
    top: -120px;
    left: 10%;
}

.p {

    display: inline-block;
    position: relative;
    left: 36%;
    top: 20px;
    margin: 0px 26px;
    font-size: 14px;

}

#r {
    margin-right: 20px;
    font-size: 12px;
    left: 29%;
}

#s {
    position: relative;
    width: 90px;
    top: 25px;
    right: 75%;
}

.img {
    position: relative;
}

#i1 {
    position: absolute;
    top: -420px;
    left: 870px;
    width: 315px;
    border-radius: 10px;

}

#i2 {
    position: absolute;
    top: -600px;
    left: 870px;
    width: 315px;
    border-radius: 10px;


}

#i3 {
    position: absolute;
    top: -605px;
    left: 270px;
    width: 590px;
    border-radius: 10px;

}

div {

    font-size: 19px;
    top: 600px;
}

#p3 {
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 44%;
    font-size: 30px;
    color: rgb(101, 175, 101);
}

.im {
    display: inline-block;
    position: relative;
    top: 430px;
    width: 100px;
    left: 18%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(189, 179, 179);
    width: 100px;
    height: 90px;
    padding: 5px;
}

.g {
    width: 1520px;
    position: relative;
    top: 500px;
    left: -1%;
}

.pr {
    display: inline-block;
    position: relative;
    top: 220px;
    margin: 0px 30px;
    left: 8%;
    
}

#pp {
    display: inline-block;
    position: relative;
    top: 490px;
    left: 66%;
    font-size: 32px;
    font-style: inherit;
    
}

#m {
    display: inline-block;
    position: relative;
}

#m-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -184px;
    left: 128%;


}

#m-2 {
    display: inline-block;
    position: relative;
    top: -150px;
    left: 165%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 11px 11px 11px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#p-p {
    color: red;
    position: relative;
    display: inline-block;
    left: 96%;
    top: -118px;

}

#p-p1 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: 96%;
    top: -118px;
    text-decoration-line: line-through;
}

#k {
    display: inline-block;
    position: relative;
}
#k-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -185px;
    left: -16%;


}

#k-2 {
    display: inline-block;
    position: relative;
    top: -151px;
    left: 21%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 37px 11px 34px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}
#k-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: -47%;
    top: -116px;

}
#k-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -47%;
    top: -116px;
    text-decoration-line: line-through;
}
#a{
    display: inline-block;
    position: relative;
}
#a-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -503px;
    left: 42%;


}
#a-2 {
    display: inline-block;
    position: relative;
    top: -469px;
    left: 79%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 37px 11px 34px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}
#a-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: 10%;
    top: -433px;

}

#a-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: 10%;
    top: -433px;
    text-decoration-line: line-through;
}
#b{
    display: inline-block;
    position: relative;
}
#b-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -502px;
    left: -100%;


}
#b-2 {
    display: inline-block;
    position: relative;
    top: -468px;
    left: -63%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 37px 11px 33px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}
#b-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: -132%;
    top: -431px;

}

#b-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -131%;
    top: -431px;
    text-decoration-line: line-through;
}