#shima {
    display: inline-block;
    border-bottom: 5px rgb(176, 206, 171);
    position: relative;
    left: 50%;
    top: 21px;
    width: 170px;
    right: 16px;
}

#p1 {
    display: inline-block;
    position: relative;
    padding: 12px;
    background-color: rgb(234, 231, 231);
    text-align: right;
    color: dimgrey;
    border-radius: 15px;
    width: 300px;
    top: 0px;
    left: 48%;

}

#p2 {
    font-size: 17px;
    color: rgb(102, 104, 104);
    position: relative;
    top: -65px;
    left: 37%;
}

#shop {
    width: 55px;
    position: relative;
    top: -122px;
    left: 28%;

}

#shoop {
    width: 150px;
    position: relative;
    top: -122px;
    left: 12%;

}

#d2 {
    text-align: center;
    display: inline-block;
    position: relative;
    top: -120px;
    left: 10%;
}

.p {

    display: inline-block;
    position: relative;
    left: 36%;
    top: 20px;
    margin: 0px 26px;
    font-size: 14px;

}

#r {
    margin-right: 20px;
    font-size: 12px;
    left: 29%;
}

#sr {
    position: relative;
    width: 90px;
    top: 25px;
    right: 75%;
}

.img {
    position: relative;
}

#i1 {
    position: absolute;
    top: -420px;
    left: 870px;
    width: 315px;
    border-radius: 10px;

}

#i2 {
    position: absolute;
    top: -600px;
    left: 870px;
    width: 315px;
    border-radius: 10px;


}

#i3 {
    position: absolute;
    top: -605px;
    left: 270px;
    width: 590px;
    border-radius: 10px;

}

div {

    font-size: 19px;
    top: 600px;
}

#p3 {
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 44%;
    font-size: 30px;
    color: rgb(101, 175, 101);
}

.im {
    display: inline-block;
    position: relative;
    top: 430px;
    width: 100px;
    left: 18%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(189, 179, 179);
    width: 100px;
    height: 90px;
    padding: 5px;
}

.g {
    width: 1520px;
    position: relative;
    top: 500px;
    left: -1%;
}

.pr {
    display: inline-block;
    position: relative;
    top: 220px;
    margin: 0px 30px;
    left: 8%;

}

#pp {
    display: inline-block;
    position: relative;
    top: 490px;
    left: 66%;
    font-size: 32px;
    font-style: inherit;

}

#m {
    display: inline-block;
    position: relative;
}

#m-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -184px;
    left: 128%;


}

#m-2 {
    display: inline-block;
    position: relative;
    top: -150px;
    left: 165%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 11px 11px 11px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#p-p {
    color: red;
    position: relative;
    display: inline-block;
    left: 96%;
    top: -118px;

}

#p-p1 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: 96%;
    top: -118px;
    text-decoration-line: line-through;
}

#k {
    display: inline-block;
    position: relative;
}

#k-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -185px;
    left: -16%;


}

#k-2 {
    display: inline-block;
    position: relative;
    top: -151px;
    left: 21%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 37px 11px 34px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#k-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: -47%;
    top: -116px;

}

#k-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -47%;
    top: -116px;
    text-decoration-line: line-through;
}

#a {
    display: inline-block;
    position: relative;
}

#a-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -503px;
    left: 42%;


}

#a-2 {
    display: inline-block;
    position: relative;
    top: -469px;
    left: 79%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 37px 11px 34px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#a-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: 10%;
    top: -433px;

}

#a-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: 10%;
    top: -433px;
    text-decoration-line: line-through;
}

#b {
    display: inline-block;
    position: relative;
}

#b-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -502px;
    left: -100%;


}

#b-2 {
    display: inline-block;
    position: relative;
    top: -468px;
    left: -63%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 37px 11px 33px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#b-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: -132%;
    top: -431px;

}

#b-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -131%;
    top: -431px;
    text-decoration-line: line-through;
}

#i-11 {
    width: 970px;
    height: 200px;
    position: relative;
    left: 14%;
    top: -96px;
}

#t {
    position: relative;
}

#fix {
    width: 55px;
    position: fixed;
    top: 655px;
    left: 2%;
}

#rh {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 85%;
    top: -80px;
}

#lh {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 11%;
    top: -156px;
}

#kf {
    position: relative;
    font-size: 29px;
    left: 63%;
    top: -110px;


}

#kr {
    position: relative;
    font-size: 14px;
    display: inline-block;
    color: white;
    background-color: rgb(101, 175, 101);
    padding: 8px;
    border-radius: 5px;
    top: -185px;
    left: 17%;
}

#kr:hover {
    background-color: rgb(24, 37, 25);
}

#l {
    display: inline-block;
    position: relative;
}

#l-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -799px;
    left: 1%;


}

#l-2 {
    display: inline-block;
    position: relative;
    top: -765px;
    left: 39%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 31px 11px 28px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#l-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: -32%;
    top: -730px;

}

#l-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -31%;
    top: -730px;
    text-decoration-line: line-through;
}

#sh {
    display: inline-block;
    position: relative;
    top: -146px;
}

#sh-1 {
    width: 210px;
    height: 180px;
    position: relative;
    top: -53px;
    left: -12%;


}

#sh-2 {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 25%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 50px 11px 17px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#sh-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: -43%;
    top: 14px;

}

#sh-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -43%;
    top: 14px;
    text-decoration-line: line-through;
    text-align: center;
}

#h {
    display: inline-block;
    position: relative;
    top: 151px;
}

#h-1 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -670px;
    left: 53%;


}

#h-2 {
    display: inline-block;
    position: relative;
    top: -636px;
    left: 96%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 26px 11px 27px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#h-3 {
    color: rgb(198, 198, 198);
    position: relative;
    display: inline-block;
    left: 25%;
    top: -600px;

}


#s {
    display: inline-block;
    position: relative;
    top: 200px;
    left: 10%;
}

#s-1 {
    width: 206px;
    height: 180px;
    position: relative;
    top: -720px;
    left: 18%;


}

#s-2 {
    display: inline-block;
    position: relative;
    top: -686px;
    left: 55%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 26px 11px 20px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);

}

#s-3 {
    color: red;
    position: relative;
    display: inline-block;
    left: -14%;
    top: -649px;

}

#s-4 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -14%;
    top: -651px;
    text-decoration-line: line-through;
}

#r1 {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 83%;
    top: -698px;
}

#h1 {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 11%;
    top: -780px;
}

#o {
    position: relative;
    font-size: 29px;
    left: 67%;
    top: -693px;


}

#q {
    position: relative;
    font-size: 14px;
    display: inline-block;
    color: white;
    background-color: rgb(101, 175, 101);
    padding: 8px;
    border-radius: 5px;
    top: -970px;
    left: 17%;
}

#q:hover {
    background-color: rgb(24, 37, 25);
}

#l-5 {
    display: inline-block;
    position: relative;
    top: 80px;
    left: -10%;
}

#l-7 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -799px;
    left: 3%;


}

#l-6 {
    display: inline-block;
    position: relative;
    top: -765px;
    left: 39%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 28px 11px 23px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#l-8 {
    color: red;
    position: relative;
    display: inline-block;
    left: -32%;
    top: -730px;

}

#l-9 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -31%;
    top: -730px;
    text-decoration-line: line-through;
}

#sh-5 {
    display: inline-block;
    position: relative;
    top: -665px;
    left: -11%;
}

#sh-7 {
    width: 210px;
    height: 180px;
    position: relative;
    top: -53px;
    left: -12%;


}

#sh-6 {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 25%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 50px 11px 17px;
    padding-top: 198px;
    padding-bottom: 61px;
    background-color: rgb(247, 242, 242);
}

#sh-8 {
    color: red;
    position: relative;
    display: inline-block;
    left: -43%;
    top: 14px;

}

#sh-9 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -43%;
    top: 14px;
    text-decoration-line: line-through;
    text-align: center;
}

#h-5 {
    display: inline-block;
    position: relative;
    top: -368px;
}

#h-7 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -670px;
    left: 53%;


}

#h-6 {
    display: inline-block;
    position: relative;
    top: -636px;
    left: 96%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 26px 11px 27px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#h-8 {
    color: rgb(198, 198, 198);
    position: relative;
    display: inline-block;
    left: 25%;
    top: -600px;

}


#s-5 {
    display: inline-block;
    position: relative;
    top: -319px;
    left: 10%;
}

#s-7 {
    width: 206px;
    height: 180px;
    position: relative;
    top: -720px;
    left: 18%;


}

#s-6 {
    display: inline-block;
    position: relative;
    top: -686px;
    left: 55%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 22px 11px 25px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);

}

#s-8 {
    color: red;
    position: relative;
    display: inline-block;
    left: -14%;
    top: -649px;

}

#s-9 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -14%;
    top: -651px;
    text-decoration-line: line-through;
}

#z {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 85%;
    top: -1250px;
}

#z2 {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 11%;
    top: -1350px;
}

#z3 {
    position: relative;
    font-size: 29px;
    left: 66%;
    top: -1168px;


}

#z4 {
    position: relative;
    font-size: 14px;
    display: inline-block;
    color: white;
    background-color: rgb(101, 175, 101);
    padding: 8px;
    border-radius: 5px;
    top: -1445px;
    left: 17%;
}

#z4:hover {
    background-color: rgb(24, 37, 25);
}

#l-10 {
    display: inline-block;
    position: relative;
    top: -398px;
    left: -9%;
}

#l-12 {
    width: 182px;
    height: 180px;
    position: relative;
    top: -799px;
    left: 2%;


}

#l-11 {
    display: inline-block;
    position: relative;
    top: -765px;
    left: 39%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 17px 11px 11px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#l-13 {
    color: red;
    position: relative;
    display: inline-block;
    left: -32%;
    top: -730px;

}

#l-14 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -31%;
    top: -730px;
    text-decoration-line: line-through;
}

#sh-10 {
    display: inline-block;
    position: relative;
    top: -1143px;
    left: -7%;
}

#sh-12 {
    width: 210px;
    height: 180px;
    position: relative;
    top: -53px;
    left: -12%;


}

#sh-11 {
    display: inline-block;
    position: relative;
    top: -19px;
    left: 25%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 22px 11px 11px;
    padding-top: 198px;
    padding-bottom: 61px;
    background-color: rgb(247, 242, 242);
}

#sh-13 {
    color: red;
    position: relative;
    display: inline-block;
    left: -43%;
    top: 14px;

}

#sh-14 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -43%;
    top: 14px;
    text-decoration-line: line-through;
    text-align: center;
}

#h-10 {
    display: inline-block;
    position: relative;
    top: -846px;
}

#h-12 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -670px;
    left: 53%;


}

#h-11 {
    display: inline-block;
    position: relative;
    top: -636px;
    left: 96%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 26px 11px 27px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#h-13 {
    color: rgb(198, 198, 198);
    position: relative;
    display: inline-block;
    left: 25%;
    top: -600px;

}


#s-10 {
    display: inline-block;
    position: relative;
    top: -795px;
    left: 13%;
}

#s-12 {
    width: 206px;
    height: 180px;
    position: relative;
    top: -720px;
    left: 17%;


}

#s-11 {
    display: inline-block;
    position: relative;
    top: -686px;
    left: 55%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 17px 11px 21px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);

}

#s-13 {
    color: red;
    position: relative;
    display: inline-block;
    left: -14%;
    top: -651px;

}

#s-14 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -14%;
    top: -651px;
    text-decoration-line: line-through;
}

#j {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 85%;
    top: -1720px;
}

#j2 {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 11%;
    top: -1820px;
}

#j3 {
    position: relative;
    font-size: 29px;
    left: 72%;
    top: -1657px;


}

#j4 {
    position: relative;
    font-size: 14px;
    display: inline-block;
    color: white;
    background-color: rgb(101, 175, 101);
    padding: 8px 24px;
    border-radius: 5px;
    top: -1945px;
    left: 16%;
}

#j4:hover {
    background-color: rgb(24, 37, 25);
}

#l-15 {
    display: inline-block;
    position: relative;
    top: -888px;
    left: -9%;
}

#l-17 {
    width: 190px;
    height: 180px;
    position: relative;
    top: -799px;
    left: 2%;


}

#l-16 {
    display: inline-block;
    position: relative;
    top: -765px;
    left: 39%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 12px 11px 5px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#l-18 {
    color: red;
    position: relative;
    display: inline-block;
    left: -32%;
    top: -730px;

}

#l-19 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -31%;
    top: -730px;
    text-decoration-line: line-through;
}

#sh-15 {
    display: inline-block;
    position: relative;
    top: -1633px;
    left: -7%;
}

#sh-17 {
    width: 210px;
    height: 180px;
    position: relative;
    top: -53px;
    left: -12%;


}

#sh-16 {
    display: inline-block;
    position: relative;
    top: -19px;
    left: 25%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 22px 11px 5px;
    padding-top: 198px;
    padding-bottom: 61px;
    background-color: rgb(247, 242, 242);
}

#sh-18 {
    color: red;
    position: relative;
    display: inline-block;
    left: -43%;
    top: 14px;

}

#sh-19 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -43%;
    top: 14px;
    text-decoration-line: line-through;
    text-align: center;
}

#h-15 {
    display: inline-block;
    position: relative;
    top: -1338px;
}

#h-17 {
    width: 204px;
    height: 180px;
    position: relative;
    top: -670px;
    left: 53%;


}

#h-16 {
    display: inline-block;
    position: relative;
    top: -636px;
    left: 96%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 22px 11px 22px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);
}

#h-18 {
    color: rgb(198, 198, 198);
    position: relative;
    display: inline-block;
    left: 25%;
    top: -600px;

}


#s-15 {
    display: inline-block;
    position: relative;
    top: -1285px;
    left: 13%;
}

#s-17 {
    width: 206px;
    height: 180px;
    position: relative;
    top: -720px;
    left: 16%;


}

#s-16 {
    display: inline-block;
    position: relative;
    top: -686px;
    left: 55%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    padding: 11px 20px 11px 18px;
    padding-top: 198px;
    padding-bottom: 60px;
    background-color: rgb(247, 242, 242);

}

#s-18 {
    color: red;
    position: relative;
    display: inline-block;
    left: -14%;
    top: -651px;

}

#s-19 {
    display: inline-block;
    color: rgb(198, 198, 198);
    position: relative;
    left: -14%;
    top: -651px;
    text-decoration-line: line-through;
}

#n {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 85%;
    top: -2170px;
}

#n2 {
    font-size: 40px;
    color: darkgrey;
    position: relative;
    left: 11%;
    top: -2260px;
}

#u-1 {
    width: 200px;
    position: relative;
    top: -2196px;
    left: 12%;
}

#u-2 {
    width: 200px;
    position: relative;
    top: -2198px;
    left: 18%;
}

#u-3 {
    width: 200px;
    position: relative;
    top: -2200px;
    left: 23%;
}

#u-4 {
    width: 200px;
    position: relative;
    top: -2198px;
    left: 27%;
}

#site {
    width: 1650px;
    position: relative;
    top: -2180px;
}

body {
    margin: 0px;

}

a {
    margin: 0px;
}

img {
    margin: -px;
}

#w4 {
    margin: -5px;
    width: 1425px;
}

#w {
    margin: -5px;
    width: 1425px;
}

#w7 {
    margin: -5px;
    width: 1425px;
}

#w2 {
    margin: -5px;
    width: 1425px;
}

#w3 {
    margin: -5px;
    width: 1425px;
}

#w5 {
    margin: -5px;
    width: 1425px;
}

#w6 {
    margin: -5px;
    width: 1425px;
}

#ww {
    position: fixed;
    top: 46px;
    left: 28%;
}

#link-1 {
    text-decoration: none;
}

#para-4 {
    color: forestgreen;
}

#para-3 {
    color: darkgreen;
}

#para {
    /* display: inline-block; */
    background-color: orange;
    font-size: 40px;
    width: 850px;
    height: 200px;
    text-align: center;
    position: absolute;
    margin-top: -430px;
    left: 25%;
    border-radius: 10px;
}

span {
    color: darkgreen;
}

#para-1 {
    position: absolute;
    color: white;
    left: 570px;
}

#para-2 {
    color: white;

}

#parag {
    width: 800px;
    font-size: 22px;
    color: forestgreen;
    position: relative;
    top: 135px;
    left: 27%;
}

#paragra {
    background-color: orange;
    font-size: 40px;
    position: relative;
    top: 120px;
    height: 280px;

}

#paragra-1 {
    color: aliceblue;
    position: relative;
    left: 70%;
    top: 75px;
}

#paragra-2 {
    color: rgb(2, 87, 2);
    position: relative;
left: 53%;
top: 45px;
}

#paragra-3 {
    width: 400px;
    position: relative;
    top: -105px;
    left: 22%;

}

#paragraf {

    font-size: 40px;
    position: relative;
    top: 150px;


}

#paragraf-1 {
    color: orange;
    position: relative;
    left: 70%;
    height: 100px;
}

#paragraf-2 {
    position: relative;
    left: 56%;
    top: -90px;
}

#paragraf-3 {
    color: black;
    position: relative;
    left: 23%;


}

#paragraf-4 {
    font-size: 22px;
    width: 400px;
    position: relative;
    color: rgb(77, 135, 77);
    top: -200px;
    left: 23%;
}

#prf {
    font-size: 40px;
    background-color: orange;
    height: 260px;
}

#prf-1 {
    left: 69%;
    position: relative;
    color: white;
    top: 90px;
}

#prf-2 {
    position: relative;
    left: 57%;
    color: rgb(7, 94, 7);
    top: 70px;

}

#prf-3 {
    font-size: 22px;
    width: 400px;
    position: relative;
    color: #eceaea;
    top: -33px;
    left: 22%;

}
#sif{
    width: 1500px;
}